/*Definição Tabela ocupando toda a tela*/
table {
    width:100%;
}
/* Configuração do caption da tabela*/
caption {
    font-size: 3vw;
}
/*Configuração do head da tabela*/
th {
    background-color: green;
    text-align: center;
    font-size: 2.4vw;
}
td {
    font-size: 2vw;
}
/*Configuração de fonte da tabela*/
#pizzaria {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
/* Listras da Tabela*/
tr:nth-child(odd) {
    background-color: rgb(187, 187, 187);
}
/* Paddind dos dados da tabela*/
#pizzaria td {  
    padding: 5px;
}
/* Hover nas linhas da Tabela*/
#pizzaria tr:hover {background-color: rgb(155, 161, 248);
}
/*Alinhamento dos Preços*/
.preco {
    text-align: center;
}
/* Imagens do interior do cardápio*/
.img_inside {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Imagem Exterior do Cardápio */
img#tipo_pizza {
    border: 8px solid green;
}
/* Divisão espaço colunas da tabela*/
#nomeItem #imagem #preco {
    display:20%;
}
#desc {
    display:40%;
}
/* Configuração Texto ao passar o mouse sobre o item */

      /* Video */
iframe {
    float: left;
}
      /* Imagem geral */
#tipo_pizza {
    float:right;
    width: 350px;
}
      /* Quadro com descrição dentro */
#DescInd {
    float: right;
    border: 3px green dashed;
    max-width: 300px;
    padding: 0 20px 0 20px;
    margin-right: 20px;
}
/* Configurações Responsividade */
@media (max-width: 1000px) {
    iframe {
        width: 150px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    #tipo_pizza {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    #DescInd {
        max-width: 100px;
    }
    #DescInd h1 {
        font-size: 16px;
    }

}


@media (max-width: 768px) {
    iframe {
        width: 150px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    #tipo_pizza {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    #DescInd {
        max-width: 100px;
    }
    #DescInd h1 {
        font-size: 16px;
    }

}
